<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
<%- messages() %>

<fieldset>
    <label>First Name <input type="text" id="firstName" name="account_fname" required></label>
    <label>Last Name <input type="text" id="lastName" name="account_lname" required></label>
    <label>Email: <input type="email" id="email" name="account_email" required
            placeholder="example@example.com"></label>
    <label>Password: <input type="password" name="password" id="account_password"></label>
    <button type="submit">Register</button>
</fieldset>