<%# Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    <%- messages() %>

    <a href="../../inv/classification">Add new Classification</a><br>
    <a href="../../inv/vehicle">Add new Vehicle</a>